@{ 
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--允许全屏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>无锡百乐戴斯酒店</title>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <div class="contact">
            <div id="l-map" class="map">
                <img src="~/Content/image/map.png">
            </div>
            <div class="addr">
                <div class="addr-left"><img src="~/Content/image/addr.png"></div>
                <div class="addr-right">
                    <p class="addr-r-title">酒店地址</p>
                    <p class="addr-r-txt">无锡市惠山区钱桥钱威路33号</p>
                </div>
            </div>
            <div class="call">
                <div class="call-left"><img src="~/Content/image/lx.png"></div>
                <div class="call-right">
                    <p class="call-r-title">酒店电话</p>
                    <p class="call-r-txt">888-1234 5678</p>
                </div>
            </div>
            <a class="yjdh" style="color: #654e0a;background: #efcc7f;" href="http://j.map.baidu.com/d-eBH">一键导航</a>
        </div>

        <img class="page4BG" src="~/Content/image/bg4.jpg" />
    </div>
</body>
</html>