<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ComponentAppID" value="wx4c29339ddb6f82cf"/>
    <add key="ComponentAppSecret" value="85154fcc53bc82c247881e9ba2f902af"/>
    <add key="ComponentToken" value="troncelltoken"/>
    <add key="ComponentKey" value="troncellkeytroncellkeytroncellkeytroncellke"/>
  </appSettings>

</configuration>