@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@using SensingSite.Data
@model SensingCloud.Models.UserViewModel


<div class="modal fade" id="deleteUserDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.ConfirmDelete</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.UserName, new { @readonly = "readonly" })
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="#/" class="btn btn-default">取消</a>
                <a id="confirm_delete_user" href="/user/Delete/@Model.Id" class="btn btn-danger">@Resources.Save</a> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
