@using Microsoft.AspNet.Identity
@using SensingSite.Data
@using SensingCloud.Helpers
@using Sensing.Entities.Users;
@using Webdiyer.WebControls.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th, td {
        max-width: 100px;
        text-align: center;
        vertical-align: middle;
    }

    #sample-table-1 {
        margin-top: 45px;
    }
</style>
<!-- PAGE CONTENT BEGINS -->
<div id="list">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <section class="menu">
        <div class="row searchMenu">
            <div class="col-xs-8">
                <form class="form-inline" method="post">
                    <div class="from-group">
                        <div class="input-group">
                            <input name="qstr" type="text" class="form-control search-query" placeholder="名称,组名" value="@ViewBag.qstr">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    检索
                                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <a id="CreateMenu" class="btn btn-sm btn-primary no-border" style="float:right">
                    <i class="fa fa-plus"></i>
                    创建自定义菜单
                </a>
                <a id="DeleteMenu" class="btn btn-sm btn-primary no-border" style="float:right">
                    <i class="fa fa-plus"></i>
                    删除自定义菜单
                </a>
                <a id="GetMenu" class="btn btn-sm btn-primary no-border" style="float:right">
                    <i class="fa fa-plus"></i>
                    获取自定义菜单
                </a>
            </div>
        </div><!-- /.row -->
    </section>
    <div class="col-sm-12">
        <!-- #section:elements.tab.option -->
        <div class="tabbable row">
            <ul class="nav nav-tabs" id="myTab4">
                <li id="tab_1_li" class="active">
                    <a data-toggle="tab" href="#tab_1_container" aria-expanded="false">图文</a>
                </li>

                <li class="" id="tab_2_li">
                    <a data-toggle="tab" href="#tab_2_container" aria-expanded="false">图片</a>
                </li>
            </ul>
            <div id="productTabble" class="tab-content">
                <div id="tab_1_container" class="tab-pane active">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-primary col-xs-8">图文素材</h4> 
                            <div class="align-right-large">
                                <button class="btn btn-primary btn-sm no-border" id="SyscMedias">获取微信图文素材</button>
                            </div>
                        </div>

                        <div id="tab_1_content" class="col-sm-12">

                        </div>
                    </div>
                </div>

                <div id="tab_2_container" class="tab-pane ">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-primary col-sm-8">图片素材</h4>
                            <div class="align-right-large">
                                <button class="btn btn-primary btn-sm no-border" id="SyscPic">获取微信图片素材</button>
                            </div>
                        </div>
                        <div id="tab_2_content" class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog_container"></div>

@section scripts{
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script>
        var tab_1 = "tab_1";
        var tab_2 = "tab_2";
        var currentTab = "tab_1";
        $(function () {
            (function () {
                
                var options = {
                    method: 'get',
                    data: { query: $('input[name=query]').val() }
                };
                options.data.type = 'news';
                var url = "/Media/GetList";
                $.ajax(url, options).success(function (data) {
                    $('#tab_1_content').html(data);
                });
            })();

           

            $('.search-form').submit(function (e) {
                e.preventDefault();

                var options = {
                    method: 'get',
                    data: { query: $('input[name=query]').val() }
                };
                var SearchTab_Content = "";
                if (currentTab == tab_1) {
                    SearchTab_Content = "#tab_1_content";
                    options.data.type = 'news';
                } else if (currentTab == tab_2) {
                    SearchTab_Content = "#tab_2_content";
                    options.data.type = 'image';
                }
                $.ajax("/Media/GetList", options).success(function (data) {
                    $(SearchTab_Content).html(data);
                });
                return false;
            });


            //使用ajax请求分页
            $('#tab_1_content').on('click', '.row-pager a', function (e) {
                e.preventDefault();
                var url = $(e.target).attr('href');
                if (url) {
                    var options = {
                        method: 'get',
                    };
                    $.ajax(url, options).success(function (data) {
                        $('#tab_1_content').html(data);
                    });
                }
                return false;
            });
            $('#tab_2_content').on('click', '.row-pager a', function (e) {
                e.preventDefault();
                var url = $(e.target).attr('href');
                if (url) {
                    var options = {
                        method: 'get',
                    };
                    $.ajax(url, options).success(function (data) {
                        $('#tab_2_content').html(data);
                    });
                }
                return false;
            });

            $('a[href=#tab_1_container]').click(function () {
                var options = {
                    method: 'get',
                    data: { query: $('input[name=query]').val() }
                };
                options.data.type = 'news';
                var url = "/Media/GetList";
                $.ajax(url, options).success(function (data) {
                    currentTab = tab_1;
                    $('#tab_1_content').html(data);
                });
            });

            $('a[href=#tab_2_container]').click(function () {
                var options = {
                    method: 'get',
                    data: { query: $('input[name=query]').val() }
                };
                options.data.type = 'image';
                var url = "/Media/GetList";
                $.ajax(url, options).success(function (data) {
                    currentTab = tab_2;
                    $('#tab_2_content').html(data);
                });
            });


            $("#list").on('click', '#SyscMedias', function () {
                var url = "/Media/SyscMedias";
                $.ajax(url).success(function (data) {
                    location.href = location.href;
                });
            });

            $("#list").on('click', '#SyscPic', function () {
                var url = "/Media/SyscPic";
                $.ajax(url).success(function (data) {
                    location.href = location.href;
                });
            });
            $("#list").on('click', '#CreateMenu', function () {
                var url = "/Media/CreateMenu";
                $.ajax(url).success(function (data) {
                    alert("成功");
                });
            });
            $("#list").on('click', '#DeleteMenu', function () {
                var url = "/Media/DeleteMenu";
                $.ajax(url).success(function (data) {
                    alert("成功");
                });
            });
            $("#list").on('click', '#GetMenu', function () {
                var url = "/Media/GetMenu";
                $.ajax(url).success(function (data) {
                    alert("成功");
                });
            });
        });



    </script>

}
