<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,209}</string>
                <key>spriteSourceSize</key>
                <string>{134,209}</string>
                <key>textureRect</key>
                <string>{{747,125},{134,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ballon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,199}</string>
                <key>spriteSourceSize</key>
                <string>{132,199}</string>
                <key>textureRect</key>
                <string>{{546,125},{132,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ballon-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,190}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{739,1},{122,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ballon-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,210}</string>
                <key>spriteSourceSize</key>
                <string>{123,210}</string>
                <key>textureRect</key>
                <string>{{1,84},{123,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ballon-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,190}</string>
                <key>spriteSourceSize</key>
                <string>{120,190}</string>
                <key>textureRect</key>
                <string>{{547,1},{120,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,175}</string>
                <key>spriteSourceSize</key>
                <string>{326,175}</string>
                <key>textureRect</key>
                <string>{{697,574},{326,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{182,155}</string>
                <key>textureRect</key>
                <string>{{1,350},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{182,154}</string>
                <key>textureRect</key>
                <string>{{362,84},{182,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{182,154}</string>
                <key>textureRect</key>
                <string>{{473,259},{182,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{182,155}</string>
                <key>textureRect</key>
                <string>{{185,395},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-shoot-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{182,155}</string>
                <key>textureRect</key>
                <string>{{369,415},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-shoot-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{182,154}</string>
                <key>textureRect</key>
                <string>{{657,261},{182,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-shoot-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{182,154}</string>
                <key>textureRect</key>
                <string>{{841,261},{182,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cursor-shoot-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,155}</string>
                <key>spriteSourceSize</key>
                <string>{182,155}</string>
                <key>textureRect</key>
                <string>{{553,417},{182,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,147}</string>
                <key>spriteSourceSize</key>
                <string>{123,147}</string>
                <key>textureRect</key>
                <string>{{213,84},{123,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,204}</string>
                <key>spriteSourceSize</key>
                <string>{153,204}</string>
                <key>textureRect</key>
                <string>{{267,240},{153,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,213}</string>
                <key>spriteSourceSize</key>
                <string>{155,213}</string>
                <key>textureRect</key>
                <string>{{737,417},{155,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,222}</string>
                <key>spriteSourceSize</key>
                <string>{159,222}</string>
                <key>textureRect</key>
                <string>{{1,552},{159,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,230}</string>
                <key>spriteSourceSize</key>
                <string>{162,230}</string>
                <key>textureRect</key>
                <string>{{225,572},{162,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,238}</string>
                <key>spriteSourceSize</key>
                <string>{164,238}</string>
                <key>textureRect</key>
                <string>{{457,574},{164,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>introduction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,81}</string>
                <key>spriteSourceSize</key>
                <string>{544,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{544,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,139}</string>
                <key>spriteSourceSize</key>
                <string>{264,139}</string>
                <key>textureRect</key>
                <string>{{1,209},{264,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:622f7ac2f2efacf411bc34a29ba8e41d:4b82ad0d2958c8cb06809e044d0821a3:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
