<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{252,349},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_des.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,86}</string>
                <key>spriteSourceSize</key>
                <string>{261,86}</string>
                <key>textureRect</key>
                <string>{{252,399},{261,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_display.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,32}</string>
                <key>spriteSourceSize</key>
                <string>{320,32}</string>
                <key>textureRect</key>
                <string>{{464,0},{320,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,127}</string>
                <key>spriteSourceSize</key>
                <string>{320,127}</string>
                <key>textureRect</key>
                <string>{{0,222},{320,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_way.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,122}</string>
                <key>spriteSourceSize</key>
                <string>{252,122}</string>
                <key>textureRect</key>
                <string>{{0,349},{252,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_progressbarback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,11}</string>
                <key>spriteSourceSize</key>
                <string>{83,11}</string>
                <key>textureRect</key>
                <string>{{116,471},{83,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_progressbarfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,11}</string>
                <key>spriteSourceSize</key>
                <string>{83,11}</string>
                <key>textureRect</key>
                <string>{{116,482},{83,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,144}</string>
                <key>spriteSourceSize</key>
                <string>{399,144}</string>
                <key>textureRect</key>
                <string>{{320,0},{399,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>powered_by.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,12}</string>
                <key>spriteSourceSize</key>
                <string>{116,12}</string>
                <key>textureRect</key>
                <string>{{0,471},{116,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{281,349},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{281,367},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,222}</string>
                <key>spriteSourceSize</key>
                <string>{320,222}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>displayTexturePack.png</string>
            <key>size</key>
            <string>{513,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85846077f3a47750c621dce5c353fef8:b9725e8f6d0000b04b768c1fe9695bed:20e6160ef910c34272ca00e17327d1c1$</string>
            <key>textureFileName</key>
            <string>displayTexturePack.png</string>
        </dict>
    </dict>
</plist>
