<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,852}</string>
                <key>spriteSourceSize</key>
                <string>{320,852}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,852}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,852}</string>
                <key>spriteSourceSize</key>
                <string>{320,852}</string>
                <key>textureRect</key>
                <string>{{855,1},{320,852}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{1769,192},{27,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{33,20}</string>
                <key>textureRect</key>
                <string>{{1771,157},{33,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{1771,126},{29,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,35}</string>
                <key>textureRect</key>
                <string>{{1709,239},{48,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{1709,1},{75,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{1709,187},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1709,126},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1709,64},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>supply01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1709,289},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>supply02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1742,289},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>supply03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1746,239},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textureTransparentPack.png</string>
            <key>size</key>
            <string>{1795,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530084ef853910e70ee8e29866be9738:0b7b79d4dccb576e13e994e4de6783aa:5d26126a161a5fe2b83a90161eb6e79f$</string>
            <key>textureFileName</key>
            <string>textureTransparentPack.png</string>
        </dict>
    </dict>
</plist>
